<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Hack Gateway API" %></h1>
  <p>A simple gateway to collect and calculate events of HackMove</p>
</section>

<section class="row">

</section>
